p{
    color:#000;
}
#myTabstep li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.wizard-tabs .nav-item.active .nav-link{
    background-color: #6d28d9 !important;    
}
.wizard-tabs .nav-item.active .nav-link span{
    color:#fff !important;
}